.drag-area {
    width: 246px;
    min-height: 100%;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
}


.drag-area>* {
    transition: transform 0.3s ease;
}


.drag-placeholder {
    transition: all 0.3s ease;
    opacity: 0;
    transform: scale(0.8);
}

.drag-placeholder.visible {
    opacity: 1;
    transform: scale(1);
}


.gap-26 {
    gap: 26px;
}


.drag-placeholder {
    transition: transform 0.2s ease;
}


.task-container.dragging {
    opacity: 0.5;

}


.todo {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    overflow-y: auto;
}

.board-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #42526E;
}

.column-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.add {
    border: 2px solid var(--primary);
    border-radius: 8px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #F6F7F8;
}

.add:hover {
    border: 2px solid var(--secondary);
}

.add:hover path {
    stroke: var(--secondary);
}

.add:active {
    border: 2px solid #091931;
}

.add:active path {
    stroke: #091931;
}

.site-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.button-add-task {
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 160px;
    height: 48px;
    font-weight: 700;
}

.button-add-task:hover {
    background-color: var(--secondary);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button-add-task:active {
    background-color: #091931;
    box-shadow: none;
}

.vl-btn {
    border-left: 1px solid #D1D1D1;
    height: 31px;
    margin-right: 10px;
}

.searchbar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-btn {
    position: absolute;
    right: 10px;
    top: 8px;
    border: unset;
    width: 48px;
    height: 32px;
    cursor: pointer;
    border-left: 1px solid #a8a8a8;
    background-color: white;
}

.search-input {
    justify-content: flex-start;
    display: flex;
    border: 1px solid #A8A8A8;
    width: 312px;
    height: 48px;
    background-color: white;
    padding: 8px 16px;
    border-radius: 10px;
}

.empty-container {
    border: 1px dashed #a8a8a8;
    border-radius: 10px;
    width: 246px;
    height: 48px;
    background-color: #e7e7e7;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-container p {
    color: #a8a8a8;
}

.add-task-content {
    background-color: var(--white);
    width: 1116px;
    height: 870px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 64px;
    animation: slideInFromRight 0.5s ease forwards;
}


.add-task-content.closing {
    animation: slideOutToRight 0.5s ease forwards;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.overlay.visible {
    opacity: 1;
    visibility: visible;
}

.add-task-header {
    display: flex;
    justify-content: space-between;
}


.btn-overlay-close {
    background: none;
    border: none;
    z-index: 1001;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.btn-overlay-close:hover {
    transition: background 0.2s ease;
    background: rgba(0, 0, 0, 0.1);
}

.badge {
    padding: 4px 16px;
    border-radius: 8px;
    height: 27px;
    color: #ffffff;
    font-size: 16px;
}

.badge.user-story {
    background-color: #0038FF;
    width: 113px;
}

.badge.technical-task {
    background-color: #1FD7C1;
    width: 144px;
}


.task-container {
    background-color: #fff;
    width: 252px;
    height: auto;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0px 0px 10px 3px #00000014;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.2s ease;
}

.task-container:active {
    scale: 1.05;
    box-shadow: 0px 5px 20px 5px #00000025;
    cursor: grabbing;
}


.task-container.dragging {
   opacity: 0.5 !important; 
    transform: rotate(1deg) scale(1.02);
    z-index: 1000;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}


.task-container.dragging {
    transition: none !important;
}

.more-avatar {
  background-color: #ccc;
  color: #000;
  font-weight: bold;
}

/* Alex */
.subtasks {
  max-height: 150px; 
  overflow-y: auto;  
  padding-right: 4px; 
}

.subtasks::-webkit-scrollbar {
  width: 6px;
}

.subtasks::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

/* .task-container:not(.dragging) {
    animation: slideDown 0.3s ease;
} */


.task-container:hover:not(.dragging) {
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px 3px #00000020;
}



.drag-placeholder.visible {
    animation: pulse 2s infinite;
}


.task-title {
    font-size: 16px;
    font-weight: 700;
    color: #2A3647;
}

.task-description {
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
     width: 100%;
    overflow: hidden;
    margin: 16px 0;
}


.task-description p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    margin: 0;
    line-height: 1.5;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.subtasks {
    color: #000;
    font-size: 12px;
}

.task-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 15px;
    flex-shrink: 0;
    font-size: 12px;
    border: 1px solid #fff;
    outline: none;
}

.task-editors {
    display: flex;
    flex-wrap: wrap;
}

.task-editors .editor-avatar {
    margin-left: -8px;
    margin-right: 0;
}

.task-editors .editor-avatar:first-child {
    margin-left: 0;
}

.task-priority-icon {
    width: 32px;
}

.show-task-content {
    background-color: var(--white);
    width: 554px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    padding: 48px 40px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #000;
    animation: slideInFromRight 0.5s ease forwards;
}

.show-task-content.closing {
    animation: slideOutToRight 0.5s ease forwards;
}

.task-required-infos {
    display: grid;
    grid-template-columns: 120px auto;
    gap: 24px 16px;
}

.detail-row {
    display: contents;
}

.label {
    color: #2A3647;
}

.assigned-user {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    gap: 16px;
}

.assigned-to-container {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
}

.empty-container-text {
    font-size: 16px;
}

.spacer {
    background-color: #D1D1D1;
    width: 1px; 
    height: 24px;
    margin: 0 12px;
}

.task-details-buttons {
    display: flex;
    justify-content: flex-end;
}

.task-progress {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress-bar {
    background-color: #F4F4F4;
    border-radius: 20px;
    width: 100px;
    height: 8px;
    overflow: hidden;
}

.progress {
    background-color: #4589FF;
    height: 100%;
    min-width: 4px;
    border-radius: 4px;
    /* transition: width 0.3s ease; */
}

@media (max-width: 1420px) {
    .site-title {
        display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-content-row.res {
    flex-direction: column;
}

.drag-area {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

}

}

@media (max-width: 1270px) {
    .add-task-content{
    width: 85%;
    }
}

@media (max-width: 1000px) {
    .site-title {
        display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .drag-area {
        flex-direction: column;
    }


    .button-add-task {
        position: absolute;
        right: 2.4rem;
        top: 2.9rem;
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

.button-add-task span {
    display: none;
}

.task-actions {
    width: 100% !important;
}

.searchbar {
    width: 100% !important;
    margin-top: 30px;
} 

.search-input {
    width: 100%;
}

.empty-container {
    width: 100% !important;
}

.button-details.res {
        display: block;
        display: flex

    }

    .add-task-content {
        align-items: flex-start; 
        overflow-y: auto;
    }
 


}
@media (max-width: 800px) {
    .show-task-content {
        width: 95%;
        gap: 14px;
        animation: slideInFromBottom 0.5s ease forwards;
    }

    .show-task-content.closing {
        animation: slideOutToBottom 0.5s ease forwards;
    }

    .show-task-content h1 {
        font-size: 34px;
    }

    .edit-task-content {
    max-height: 500px !important;
}

}


@media (max-width: 428px) {
    .button-add-task {
        position: absolute;
        right: 0.3rem;
        top: 0.8rem;
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    .show-task-content {
        padding: 20px;
    }
}