.content-wrapper {
    display: flex;
    justify-content: center;
    height: 1130px;
    background-color: white;
    width: 456px;
    margin-left: 232px;
    padding: 24px;
    box-shadow: 0px 4px 4px 3px #0000001A;
}

.button-contact {
    width: 352px;
}

.button-contact-wrapper {
    position: sticky;
    top: 0;
    z-index: 100;
}



.contacts-container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;
    border-radius: 8px;
    padding: 0 10px 10px 10px;
}

.letter-divider {
    font-size: 20px;
    color: black;
    padding: 10px 0;
    margin: 15px 0 10px 0;
    border-bottom: 1px solid #eee;
    padding-left: 24px;
}

.contact-card {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.contact-card:hover {
    background-color: var(--primary);
}

.contact-card:hover .contact-name {
    color: white;
}

.contact-card:hover .contact-email {
    color: #007CEE;
}


.contact-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 15px;
    flex-shrink: 0;
    font-size: 12px;
    box-shadow: inset 0 0 0 2px white;
    border: none;
    outline: none;
}

.contact-info-container {
    flex-grow: 1;
    margin-left: 10px;
}

.contact-name {
    font-size: 18px;
    margin-bottom: 5px;
}




.contact-email {
    color: #30aae0;
    margin: 5px 0;
}


.contacts-list-wrapper {
    margin-top: 20px;
}

.contacts-container::-webkit-scrollbar {
    width: 8px;
}

.contacts-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.contacts-container::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 4px;
}

.contacts-container::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

.contacts-container {
    scrollbar-width: thin;
    scrollbar-color: #A8A8A8 #ffffff;
}

.contacts-headline {
    display: flex;
    flex-direction: column;
    margin-top: 124px;
    margin-left: 74px;
}

.contacts-headline-top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: slideInFromRight 0.3s ease forwards;
}

.contact-details-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    color: white;
    box-shadow: inset 0 0 0 2px white;
    border: none;
    outline: none;
}

.contact-details-top {
    display: flex;
    align-items: center;
}

.contact-details-bottom {
    display: flex;
    flex-direction: column;
}

.contact-details-name {
    font-size: 47px;
}

.contact-details-info {
    margin-left: 20px;
}

.contact-details-buttons {
    display: flex;
    gap: 20px;
}

.button-details {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-details-description {
    font-size: 20px;
    color: black;
    margin: 24px 0 24px 0;
}

.contact-details-heading {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 14px 0 14px 0;
}

.contact-details-value {
    font-size: 16px;
    color: black;
}

#overlay-add-contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
     opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#overlay-add-contact.visible {
    opacity: 1;
    visibility: visible;
}



.add-contact-popup {
    position: relative;
    width: 1212px;
    height: 592px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: stretch;
    z-index: 1000;
    animation: slideInFromRight 0.5s ease forwards;
}

.add-contact-popup.closing {
    animation: slideOutToRight 0.5s ease forwards;
}


@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.d_none {
    display: none
}

.add-contact-header {
    background-color: var(--primary);
    width: 467px;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 160px 48px 66px 48px;
    gap: 12px;
}

.add-contact-header h1 {
    color: white;
    font-size: 61px;
}

.add-contact-header p{
    color: white;
    font-size: 27px;
}

.add-contact-header img {
    width: 55.599586486816406px;
    height: 66.48291015625px;
}

.add-contact-body {
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    position: relative;
    padding-left: 272px;
}

.vlcontact {
   border-bottom: 3px solid #29ABE2;
    width: 90px;
}

.add-contact-close {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 1001;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.add-contact-close:hover {
    transition: background 0.2s ease;
    background: rgba(0, 0, 0, 0.1);
}

.add-contact-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    background-color:  #d1d1d1;
    box-shadow: inset 0 0 0 4px white;
    border: none;
    outline: none;
    position: absolute;
    left: 56px;
    top: 46%;
    transform: translateY(-50%); 
    margin-left: 20px;
    color: white;
}

.add-contact-buttons {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.check-icon {
    height: 24px;
}

.created-contact-popup {
    background-color: var(--primary);
    top: 0;
    left: 0;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
    animation: slideInFromRight 0.5s ease forwards;
}

.created-contact-popup {
    animation: slideOutToRight 0.5s ease forwards;
}

.created-contact-popup p {
    color: white;
    font-size: 20px;
}

#created-contact {
    top: 20px;
    right: 20px;
    z-index: 1100;
    visibility: hidden;
    display: none;
}

#created-contact.visible .created-contact-popup {
    animation: slideInAndOut 2s ease-in-out forwards;
}

@keyframes slideInAndOut {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    90% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}


