@font-face {
    font-family: "inter_24pt-Regular";
    src: url("../fonts/inter_24pt-Regular.ttf");
}

@font-face {
    font-family: "inter_28pt-Regular";
    src: url("../fonts/inter_28pt-Regular.ttf");
}