header {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #0000001A;
  padding: 20px 40px 20px 348px;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.help-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid lightgrey;
  background-color: white;
  color: lightgrey;
  font-weight: bold;
  font-family: sans-serif;
  cursor: default;
}

.name-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid #2A3647;
  background-color: white;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}

.name-icon p {
  color: #29ABE2;
}

.popup-header {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.name_icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lightgrey;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #2A3647;
  border-radius: 20px 0px 20px 20px;
  padding: 10px;
  position: absolute;
  top: 50px;
  right: 0px;
  box-shadow: 0px 0px 4px 0px #0000001A;
  display: flex;
  flex-direction: column;
}

.popuptext a {
  padding: 8px 16px;
  height: 46px;
  text-decoration: none;
  color: #CDCDCD;
  font-size: 16px;
  font-weight: 400;
}

.popuptext a:hover {
  background-color: #091931;
}

.popuptext::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.show {
  visibility: visible;
}