
.main_first_page_content{
  display: flex;
}
.main_head_line{
  display: flex;
  flex-direction: row;
}
.main_content{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.main_greet{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.greet_name{
  color: #30aae0;
}