.main_head_line {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.main_greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greet_name {
  color: #30aae0;
  font-weight: 700;
  font-size: 64px;
}

.overview {
  gap: 28px;
  display: flex;
  width: 560px;
  flex-direction: column;
}

.row-1 {
  display: flex;
  gap: 32px;
}

.todo {
  width: 264px;
}

.summary-icon {
  border-radius: 50%;
  background-color: #2A3647;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-icon img {
  width: 32px;
  height: 32px;
}

.summary-icon-prio {
  background-color: #FF3D00;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-2 {
  gap: 32px;
}

.row-3 {
  display: flex;
  gap: 32px;
}

.tasks {
  width: 168px;
  display: flex;
  flex-direction: column;
  gap: 0px !important;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.summary {
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px #0000001A;
  background-color: var(--white);
  border-radius: 30px;
  padding: 38px 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.vl {
  border-left: 3px solid #29ABE2;
  height: 59px;
  margin: 0 30px;
}

.vl-grey {
  border-left: 3px solid #D1D1D1;
  height: 102px;
  margin: 0 30px;
}