.container-legal {
    margin-left: 232px;
    padding: 96px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

.button-back-legal {
    display: none;
}

header.res img {
    display: none;
}

.container-legal h1 {
    margin-bottom: 16px;
}

.container-legal h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
}

.container-legal h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 20px 0;
}

.container-legal p {
    margin: 4px 0;
}

.container-legal ul {
    margin: 10px 0;
    padding-left: 20px;
}

.container-how-to {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container-nummeration {
    display: flex;
    gap: 35px;
}

.container-nummeration h3 {
    margin: 0;
}

.join-hl {
    color: #29ABE2;
}

.help-header {
    display: flex;
    justify-content: space-between;
}

.arrow-back {
    border: unset;
    background-color: transparent;
    background-image: url(../assets/icons/arrow-left-line.svg);
    background-position: 1px;
    width: 32px;
    height: 32px;
}

.arrow-back:hover {
    background-color: #eee;
    border-radius: 42px;
    background-image: url(../assets/icons/arrow-left-line_v2.svg);
}

@media (max-width: 800px) {
    .container-legal {
    margin-left: 0px;
    padding: 18px;
    height: calc(100vh - 160px);
    overflow: auto;
    margin-bottom: 80px;
    margin-top: 80px;
}

header.res img {
    display: block;
    height: 39px;
    width: 32px;
}

header.res p {
    display: none;
}

.sidebar.res {
    display: flex;
    flex-direction: row;
}

.sidebar-menu.res {
    justify-content: flex-start;

}

.sidebar_footer.res {
    display: block;
            display: flex;
        width: auto;
        flex-direction: row;
}

.sidebar_footer.res a {
   padding: 0;
        font-size: 16px;
        width: 120px;
}

.button-back-legal {
    display: block;
    position: absolute;
        right: 0.5rem;
        border-radius: 20px;
}

.button-back-legal button {
    background-color: transparent;
}

}


@media (max-width: 428px) {
    .container-legal h1 {
    font-size: 38px;
}

.container-legal h2 {
    font-size: 26px;
}


}