body.full-width {
    max-width: none !important;
}

.sign-up-res {
    display: none;
}

label {
    color: #A8A8A8;
}

.main-login {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
}

.header-log-in {
    display: flex;
    justify-content: space-between;
    padding: 67px 77px 0 77px;
}

.sign-up {
    display: flex;
    gap: 35px;
    align-items: center;
    height: 50px;
}

.sign-up-text {
    font-size: 20px;
}

.log-in-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    padding: 40px 0;
    margin-top: auto;
    flex: 1;
}

.sign-up-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    padding: 0 0 40px 0;
    margin-top: auto;
    flex: 1;
}

.separator-line {
    width: 150px;
    height: 2px;
    border-radius: 3px;
    background-color: #29ABE2;
}

.log-in-form {
    flex-direction: column;
    min-width: 450px;
    max-width: 650px;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.log-in-buttons {
    display: flex;
    gap: 35px;
}

.log-in-input {
    width: 422px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #D1D1D1;
    font-size: 20px;
    text-indent: 16px;
}

.log-in-inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-with-icon {
    position: relative;
}

.input-with-icon img {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.log-in-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    font-size: 16px;
}

.log-in-footer a {
    color: #A8A8A8;
    text-decoration: none;
}

#start_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease-in-out;
}

#animated_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: all 1s ease-in-out;
}

#content_container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

[type=checkbox] {
    margin-right: 8px;
}

#overlay-signup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

#overlay-signup.visible {
    opacity: 1;
    visibility: visible;
}

#signed-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
}

#signed-up.visible {
    visibility: visible;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    15% {
        transform: translateY(0);
        opacity: 1;
    }
    85% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.signed-up-popup {
    background-color: var(--primary);
    color: white;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation: slideInFromBottom 2s ease forwards; 
}

.signed-up-popup p {
    color: white;
    font-size: 20px;
}

.form-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
    position: relative;
    margin-right: 22px;
}

.back-arrow {
    grid-column: 1; 
    cursor: pointer;
    justify-self: start; 
    transition: all 0.3s ease;
}

.back-arrow:hover {
    transform: scale(1.05);
}

.form-title {
    grid-column: 2; 
    text-align: center; 
    margin: 0; 
    width: 100%;
}

.input-log {
    width: 422px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid var(--lightgrey);
    font-size: 20px;
    text-indent: 16px;
}

@media (max-width: 770px) {
    .card {
        width: 396px;
        height: 475px;
        padding: 0px !important;
        gap: 0px !important;
    }

    .card h1 {
        font-size: 47px;
    }

    .log-in-form {
        min-width: 396px;
        max-width: 396px;
    }

    .log-in-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 180px;
        margin-top: 46px;
    }
    
    .input-log {
        width: 364px;  
    }

    .separator-line {
        width: 88px;
        margin: 18px 0;

    }

    .sign-up-res {
        display: flex;
        align-items: center;
        gap: 35px;
        margin-top: 50px;
    }

    .sign-up {
        display: none;
    }

    .sign-up-section {
        margin-top: 48px;
    }

    .header-log-in {
        padding: 37px 0 0 38px;
    }

    .header-log-in img {
        width: 64px;
        height: 78px;
    }
        
    #start_screen {
        background-color: #2a3647;
    }

    label a {
        font-size: 16px;
    }

    .card[data-size="large"] {
        height: 595px;
    }

    .form-header {
        width: 80%;
    }

    .sign-up-checkbox {
        margin-top: 40px;
    }

    .log-in-footer {
    bottom: 22px;     
    }

}


@media (max-width: 426px) {
    .card {
        width: 300px;
        height: 475px;
        padding: 0px !important;
        gap: 0px !important;
    }

    .log-in-form {
        min-width: 300px;
        max-width: 300px;
    }

    .input-log {
        width: 280px;
    }

        .log-in-buttons {
        margin-top: 26px;
    }
}
