header {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #0000001A;
    padding: 20px 40px 20px 348px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
}

.help-icon {
    width: 32px;
    height: 32px;
    background-color: white;
    background-image: url(../assets/icons/help.svg);
    background-size: 20px 20px;
    background-position: 6px 6px;
    background-repeat: no-repeat;
    border: unset;
    display: block;
    padding: 0;
}

.help-icon:hover {
    background-size: 24px 24px;
    background-position: 4px 4px;
    background-color: white;
}

.name-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid #2A3647;
    background-color: white;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}

.name-icon p {
    color: #29ABE2;
}

.popup-header {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.name_icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgrey;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #2A3647;
    border-radius: 20px 0px 20px 20px;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 0px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    flex-direction: column;
}

.popuptext a {
    padding: 8px 16px;
    height: 46px;
    text-decoration: none;
    color: #CDCDCD;
    font-size: 16px;
    font-weight: 400;
    min-width: 140px;
}

.popuptext a:hover {
    background-color: #091931;
}

.popuptext::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
}

.show {
    visibility: visible;
}

.join_logo_dark_header {
    display: none;
}

@media (max-width: 1270px) {
    header {
        padding: 20px 40px 20px 248px;
    }
}

@media (max-width: 800px) {
    .join_logo_dark_header {
        display: block;
        height: 39px;
        width: 32px;
    }

    header {
        position: fixed;
        width: 100%;
        height: 80px;
        padding: 0px 10px 0px 10px;
        position: fixed;
        overflow: hidden;
    }

    .header_title_p_tag {
        display: none;
    }

    .popuptext {
        top: 80px;
        position: fixed;
    }

    .help-icon {
        display: none;
    }
    .name-icon {
    width: 40px;
    height: 40px;
  }
}

/* @media screen and (max-width: 428px){

  header {
    height: 80px;
    padding: 0px 10px 0px 10px;
    position: fixed;
    z-index: 1;
  }

  .join_logo_dark_header{
    display: block;
    height: 39px;
    width: 32px;
}
  .help-icon {
    display: none;
}
  .name-icon {
    width: 40px;
    height: 40px;
  }

  .popuptext {
    width: 150px;
    height: 204px;
  }
} */

 .sidebar {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     position: fixed;
     top: 0;
     left: 0;
     background-color: #2A3647;
     width: 232px;
     padding: 64px 0px;
     height: 100vh;
     z-index: 2;
 }

 .sidebar-menu {
     height: 800px;
     gap: 20px;
     display: flex;
     flex-direction: column;
     width: 100%;
 }

 .sidebar a {
     color: #fff;
     text-decoration: none;
     font-size: 18px;
     display: flex;
     gap: 8px;
     align-items: center;
     justify-content: start;
     cursor: pointer;
     padding: 8px 56px;
 }

 .sidebar a:hover {
     background-color: #2A3D59;
 }

 .sidebar a.active {
     background-color: #091931;
 }

 .sidebar_footer {
     color: #fff;
     font-size: 16px;
     width: 100%;
     display: flex;
     flex-direction: column;
 }

 .side_bar_img {
     width: 100px;
     height: 122px;
     margin-bottom: 96px;
 }

 @media (max-width: 800px) {

     .sidebar {
         position: fixed;
         bottom: 0;
         left: 0;
         top: auto;
         width: 100%;
         height: 80px;
         justify-content: space-around;
         padding: 0;
         z-index: 3;
     }

     .side_bar_img {
         display: none;
     }

     .sidebar-menu {
         flex-direction: row;
         justify-content: space-around;
         align-items: center;
         gap: 0;
         width: 100%;
         height: 100%;
     }

     .sidebar-menu a {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 0;
         font-size: 14px;
     }

     .sidebar_footer {
         display: none;
     }

     a.active {
         border-radius: 16px;
     }

     a {
         height: 76px;
         width: 80px;
     }

     a img {
         width: 24px;
         height: 24px;
     }
 }


 /* @media screen and (max-width: 428px) {
  .sidebar {
    bottom: 0;
    top: auto;  
    height: 80px;  
    background-color: #2A3647;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    z-index: 3;
  }

  .side_bar_img {
    display: none;
  }

  .sidebar-menu {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 100%;
  }

  .sidebar-menu a {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 14px;
  }

  .sidebar_footer {
    display: none;
  }
  a.active {
  border-radius: 16px;
}
a {
 height:76px;
 width: 80px;
}
a img {
  width: 24px;
  height: 24px;
}
} */