 .sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: #2A3647;
  width: 232px;
  height: 100vh;
  padding: 64px 0px;
}

.sidebar-menu {
  height: 800px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
 }

a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  padding: 8px 56px;
}

a:hover {
  background-color: #2A3D59;
}

a.active {
  background-color: #091931;
}

.sidebar_footer {
  color: #fff;
  font-size: 16px;
}

.side_bar_img {
  width: 100px;
  height: 122px;
  margin-bottom: 96px;
}