:root {
    --primary: #2A3647;
    --secondary: #29ABE2;
    --grey: #A8A8A8;
    --lightgrey: #D1D1D1;
    --white: #ffffff;
    --darkblue: #091931;
    --orange: #FF7A00;
    --rosa: #FF5EB3;
    --blue-lila: #6E52FF;
    --lila: #9327FF;
    --light-blue: #00BEE8;
    --turqoise: #1FD7C1;
    --lachs: #FF745E;
    --softorange: #FFA35E;
    --pinke: #FC71FF;
    --darkyellow: #FFC701;
    --blue: #0038FF;
    --lightgreen: #C3FF2B;
    --yellow: #FFE62B;
    --red: #FF4646;
    --lightorange: #FFBB2B;
    --error-red: #FF8190;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(168, 168, 168, 0.7);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 0 10px rgba(168, 168, 168, 0);
        transform: scale(1.02);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(168, 168, 168, 0);
        transform: scale(1);
    }
}


@keyframes slideDown {
    from {
        transform: translateY(-10px);
        opacity: 0.8;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}


@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutToBottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    
    100% {
        transform: translateY(100%); 
        opacity: 0;
    }
}


@keyframes slideInAndOut {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    90% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}


* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #000;
    line-height: 120%;
    margin: 0;
    padding: 0;
}

.d-none {
    display: none !important;
}

body {
    background-color: #f6f7f8;
    overflow-x: hidden;
}

main {
    max-width: 1440px;
    position: relative;
    display: flex;
    margin-top: 80px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 61px;
}

h2 {
    font-size: 47px;
    font-weight: 500;
}


h3 {
    font-size: 27px;
    font-weight: 500;
}

.date-text {
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 20px;
}


button {
    cursor: pointer;
    border: unset;
}

.button-primary {
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 24px;
    border-radius: 8px;
}

.button-primary:hover {
    background-color: var(--secondary);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button-primary:active {
    background-color: var(--darkblue);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button-secondary {
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 24px;
    border-radius: 8px;
}

.button-secondary:hover {
    border: 2px solid var(--secondary);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button-primary:active {
    border: 1px solid var(--darkblue);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button-details {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.button-details:hover {
    color: var(--secondary);
}

.button-details img {
    width: 24px;
    height: 24px;
}

.card {
    background-color: var(--white);
    border-radius: 30px;
    gap: 32px;
    padding: 48px 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    background-color: var(--white);
}

input {
    cursor: pointer;
}

.input {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid var(--lightgrey);
    font-size: 20px;
    text-indent: 16px;
}

input::placeholder {
    color: var(--lightgrey);
}

.invalid {
    border: 1px solid var(--error-red);
}

.input-invalid {
    color: var(--error-red);
    font-size: 12px;
    margin-top: 4px;
    display: block;
}

input:invalid+span::after {
    height: -16px;
}

input:focus {
    outline: none;
    border: 1px solid var(--secondary);
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-with-icon {
    position: relative;
}

.input-with-icon img {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.input-with-label {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.vl-small {
    height: 24px;
    border-left: 1px solid #D1D1D1;
}

textarea {
    width: 440px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid var(--lightgrey);
    font-size: 20px;
    cursor: pointer;
    padding: 8px 16px;
}

textarea:focus {
    border: 1px solid var(--secondary);
}

textarea::placeholder {
    color: var(--lightgrey);
    padding-top: 12px;
}

label {
    margin-bottom: 8px;
}

a {
    color: var(--secondary);
    text-decoration: none;
}

.main_content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 96px;
    margin-left: 232px;
}

.main_content_row {
    display: flex;
    margin-top: 48px;
}

.short-info {
    font-size: 16px;
}


.subtask-item {
    padding: 6px 16px 6px 16px;
    cursor: pointer;
}

.subtask-item:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 0px;
}

.checkbox-custom {
    width: 16px;
    height: 16px;
    border: 2px solid #2A3647;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
    background-color: white;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}


.custom-checkbox input[type="checkbox"]:checked + .checkbox-label .checkbox-custom {
    border-top-right-radius: 0;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-label .checkbox-custom::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    width: 5px;
    height: 8px;
    background-color: white;
}

.checkbox-custom::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 12px;
    border-right: 2px solid #2A3647;
    border-bottom: 2px solid #2A3647;
    transform: rotate(45deg);
    top: -5px;
    left: 5px;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.custom-checkbox input[type="checkbox"]:checked + .checkbox-label .checkbox-custom::after {
    opacity: 1;
}

.subtask-text {
    color: #2A3647;
    font-size: 16px;
}

.edit-icon:hover path {
    fill: var(--secondary);
}

.delete-icon:hover path {
    fill: var(--secondary);
}