.edit-task-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
    max-height: 600px;
    overflow-y: auto;
}

.edit-task-header {
    display: flex;
    justify-content: flex-end;
}

.assigned-section {
    position: relative;
}

.assigned-dropdown {
    position: relative;
    width: 100%;
}

.dropdown-input {
    cursor: pointer;
    padding-right: 40px;
}

.dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.more-avatar {
  background-color: #ccc;
  color: #000;
  font-weight: bold;
}

.dropdown-arrow.open {
    transform: translateY(-50%) rotate(180deg);
}

.assigned-dropdown {
    position: relative;
    z-index: 1;
}

.user-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 260px;
    overflow-y: auto;
    background: white;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 100%;
}

.assigned-avatars {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0 !important;
    gap: 8px;
}

.mt-8 {
    margin-top: 8px;
}

.assigned-avatars .contact-avatar:first-child {
    margin-left: 0;
}

.edit-task-footer {
    display: flex;
    justify-content: flex-end;
}

.add-subtask-btn {
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
}


.dropdown-spacer {
    height: 200px;
    display: none;
}

.assigned-dropdown:has(.user-dropdown[style*="block"]) + .assigned-avatars + .dropdown-spacer {
    display: block;
}

.assigned-user-item {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    cursor: pointer;
    justify-content: space-between;
    
}

.assigned-user-item:hover {
    background: #f0f0f0;
}

.assigned-user-item.active {
    background: #2A3647;
}

.assigned-user-item.active span {
    color: white;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}


.task-description-container {
    width: 100%;
    /* overflow: hidden; */
    margin: 16px 0;
}

.task-description-container p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
    line-height: 1.5;
}


#assignee-input::placeholder {
    color:black;
}